<%-include('header')%>
    <h1><%=title%></h1>
    <article>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis blanditiis fuga suscipit saepe temporibus
        laborum placeat quaerat voluptates, commodi animi officia ab quo quidem harum ipsa deleniti minima consequuntur
        itaque eius voluptatum? Ad tempore quos veniam quidem. Dolores quis quod deserunt maiores voluptates officiis,
        eveniet sequi nobis, perferendis recusandae neque voluptas nihil delectus doloribus amet! Vel aliquid quas
        recusandae perspiciatis amet facilis exercitationem sequi repellat nam debitis quisquam accusamus sunt rerum,
        eligendi laborum odit cupiditate delectus sit aperiam vero sint eveniet quidem? Fugiat expedita quisquam eum
        veritatis, officia omnis dolores quasi dolore nostrum eius necessitatibus, at suscipit cum animi. Sit deleniti,
        doloribus nesciunt quos distinctio soluta nisi assumenda at impedit ex debitis explicabo omnis sequi quibusdam
        repellat atque eius facilis, ad saepe repellendus. Consequatur ullam incidunt dolorem consequuntur deleniti!
        Magnam atque error fuga explicabo, blanditiis labore perferendis aspernatur quae recusandae deserunt aliquam
        quidem eligendi saepe ex, repudiandae ratione sunt id expedita! Id ducimus ea magnam vero sapiente
        necessitatibus vitae soluta exercitationem pariatur sunt? In voluptatibus veritatis accusantium placeat
        provident saepe vero, aspernatur recusandae dolorum? Ad tempora, odio aut quo fugiat, quaerat labore amet fuga
        in facilis, tempore ut repudiandae repellendus delectus. Eligendi quam ex atque ullam rem reiciendis ipsa, unde
        est eos quae labore maiores. Corrupti numquam, mollitia eum tempore minima nostrum error doloremque possimus
        vero? Doloremque minus voluptatibus eum enim necessitatibus reprehenderit laudantium veniam laboriosam mollitia
        eius quidem, delectus fuga magni molestiae nesciunt molestias inventore quos quae magnam corporis nam est rerum
        quis nulla. Dignissimos dolorum debitis deleniti ab fugit exercitationem nam. Voluptate, quod ratione! Fugiat
        sequi iste labore eum, sapiente delectus nemo doloribus et ipsum. Excepturi repudiandae consectetur natus
        tenetur mollitia, nostrum accusantium cupiditate. Non reiciendis ullam, dignissimos placeat dolorum alias
        numquam tempore odit impedit consectetur unde, saepe laudantium distinctio nulla sit quam nam possimus libero
        repudiandae assumenda. Nesciunt sapiente corporis expedita tempora iusto minima. Eligendi consequatur quibusdam
        beatae error animi deserunt, officia cum minus nobis iste eos ipsa rerum quas minima vitae quae tempora
        obcaecati placeat enim quos earum aut labore? Ea praesentium repudiandae magnam sapiente molestias nam expedita
        ipsa eligendi! Vitae laboriosam ea quos repellendus repudiandae!
    </article>
    <%-include('footer')%>