<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
        <%=title%>
    </title>
</head>

<body>
    <main>
        <section class="static">
            <ul>
                <li><a href="/categories">All categories</a> </li>
                <li> <a href="/items">All items</a></li>
                <li> <a href="/about">About</a></li>

            </ul>
            <ul>
                <li>
                    <a href="/category/create">Create new category</a>
                </li>
                <li> <a href="/item/create">Create new item</a></li>
            </ul>
        </section>
        <section class="dynamic">