<%-include('header') %>
    <p>do you want to delete the '<%= item.name %>' Item?</p>
    <form method="post">
        <input type="hidden" value="<%=item.id %>" name='itemid'>
        <button>delete</button>
    </form>

    <%-include('footer') %>