.static {
  box-shadow: 0 0 0 2px gray, 0 0 0 4px white, 0 0 0 6px gray;
}
.all-list {
  padding-bottom: 4rem;
}
.side-list {
  border-bottom: 1px solid gray;
  text-align: left;
  font-size: 1.2rem;
  list-style: none;

}
.side-list  a:hover {
  background:radial-gradient(hsl(60, 75%, 30%),hsl(60, 75%, 10%));
  color:white;
}
.side-list a {
  padding: 0.5rem 1rem;
  display: block;
  color: hsl(240, 50%, 80%);

}
.index-heading{
  margin:1rem 0;
}
.index-list{
  margin-left: 3rem;
}
.index-list>li{
  margin:1rem 0;
  color:hsl(65, 85%, 90%);
}
.display-list{
  margin:1rem;
}
.display-list ul{
  margin:0.5rem 1rem;
}

footer {
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-top:3px solid gray;

}
