* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: Verdana, sans-serif;
}
main {
  display: flex;
  flex: 1;
}
ul {
  list-style: none;
}
.static {
  border-right: 1px solid gray;
}
.dynamic {
  flex: 1;
}
.side-list {
  border-bottom: 1px solid gray;
  text-align: left;
  font-size: 1.2rem;
}
.all-list{
  padding-bottom: 4rem;
}
.side-list > li {
  margin: 1rem 0;
  padding:0 1rem;

}
