.static {
  box-shadow: 0 0 0 2px gray, 0 0 0 4px white, 0 0 0 6px gray;
}
.all-list {
  padding-bottom: 4rem;
}
.side-list {
  border-bottom: 1px solid gray;
  text-align: left;
  font-size: 1.2rem;
  list-style: none;
}
.side-list a:hover {
  background: radial-gradient(hsl(60, 75%, 30%), hsl(60, 75%, 10%));
  color: white;
}
.side-list a {
  padding: 0.5rem 1rem;
  display: block;
  color: hsl(240, 50%, 80%);
}
.index-heading {
  margin: 1rem 0;
}
.index-list {
  margin-left: 3rem;
}
.index-list > li {
  margin: 1rem 0;
  color: hsl(65, 85%, 90%);
}
.display-list {
  margin: 1rem;
}
.display-list ul {
  margin: 0.5rem 1rem;
}
.display-list-item {
  margin: 1rem;
}
.update-button {
  background-color: hsl(240, 50%, 25%);
}
.delete-button {
  background-color: hsl(0, 50%, 25%);
}
.submit-button {
  background-color: hsl(90, 50%, 25%);
  margin: auto;
  display: block;
}
.button {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 4rem;
  color: white;
}
.button:hover {
  cursor: pointer;
}
.button a {
  color: white;
}
.form {
  margin: 1rem;
  font-size: 1.2rem;
}
.form-field {
  text-align: left;
  margin: 1rem;
}
.form input {
  width: 100%;
  display: block;
  padding: 0.2rem;
}
.form label {
  margin: 0.5rem 0;
  display: block;
}
.radio-buttons{
  margin:1rem;
}
.radio-buttons input,
.radio-buttons label {
  display: inline;
  width: fit-content;
}
.form-select{
  padding:0.2rem;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 1rem;

}
.errors {
  text-align: left;
  color: hsl(0, 75%, 75%);
}
footer {
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-top: 3px solid gray;
}
